<div class="container">
    <table class="table table-striped">
        <thead>
          <th>ID</th>
          <th>Nome</th>
          <th>Sobre Nome</th>
          <th>Opções</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.fnome}}</td>
            <td>{{user.lnome}}</td>
            <td>
              <button class="btn btn-danger" (ngSubmit)="deleteUser(user)" >DELETE</button>
              <button class="btn btn-primary" (ngSubmit)="updateUser(user)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (ngSubmit)="newUser()">Novo Usuário</button>
</div>

